{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div xmlns="http://www.w3.org/1999/html">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="breadcrumb-tow mb-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-title">
                    <h1>Login - Register</h1>
                </div>
                <div class="breadcrumb-content breadcrumb-content-tow">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Login-Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="login-register-area mb-80">
    <div class="container">

            <!--Login Form Start-->
            <div class="col-md-6 col-sm-6">
                <div class="customer-login-register">
                    <div class="form-login-title">
                        <h2>Login</h2>
                    </div>
                    <div class="login-form">
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                            <div class="form-fild">
                                <p><label for="username">{{ 'security.login.username'|trans }} <span class="required">*</span></label></p>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username">
                            </div>
                            <div class="form-fild">
                                <p><label for="password">{{ 'security.login.password'|trans }} <span class="required">*</span></label></p>
                                <input type="password" id="password" name="_password" required="required" autocomplete="current-password">
                            </div>
                            <div class="login-submit">
                                <button type="submit" class="form-button">Login</button>
                                <label>
                                    <input class="checkbox" type="checkbox" id="remember_me" name="_remember_me" value="on">
                                    <span>{{ 'security.login.remember_me'|trans }}</span>
                                </label>
                            </div>
                            <div class="lost-password">
                                <a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

    </div>
</div>



