{% extends "basegreen.html.twig" %}



{% block content %}

    <div class="row">

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tout les services</h4>
                    <h6 class="card-subtitle">Add <code>.table-hover</code> to enable a hover state on table rows within a <code>&lt;tbody&gt;</code>.</h6>
                    <div class="table-responsive">
                        <table class="table table-hover" id="table">
                            <thead>
                            <tr >

                                <th width="50">No</th>

                                <th >Nom Service</th>

                                <th >Description</th>

                                <th >Tarif</th>
                                <th >Type</th>

                                <th width="50" ></th>

                                <th width="50"><a class="btn btn-success" href="{{ path('admin_service_ajouter') }}" role="button">Ajouter</a></th>

                            </tr>

                            </thead>

                            <tbody>

                            {% for ser in services %}
                                {% set counter = ( counter | default(0) ) + 1 %}
                                <tr >
                                    <td >{{ counter }}</td>
                                    <td >{{ ser.nom }}</td>
                                    <td >{{ ser.description }}</td>
                                    <td >{{ ser.tarif }} DT/Mois</td>
                                    <td >
                                        {% set ty = ser.type | split(';') %}
                                        {% for t in ty %}
                                            {% if t == 1 %} un Mois
                                            {% elseif t==2 %} - 3 Mois
                                            {% elseif t==3 %} - 6 MOIS
                                            {% elseif t==4 %} - une Annee
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td ><button class="btn btn-info" id="{{ ser.id }}">Modifier</button></td>
                                    <td ><button class="btn btn-danger" id="{{ ser.id }}">Supprimer</button></td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <script>

        $(".btn-info").click(function(){
            console.log(this.id)
            var url = '{{ path('admin_service_modifier' , { 'id' : 'thisid'}) }}';
            url = url.replace("thisid", this.id)
            window.location.replace(url);
        });
        $(".btn-danger").click(function(){
            console.log(this.id)
            var url = '{{ path('admin_service_supprimer' , { 'id' : 'thisid'}) }}';
            url = url.replace("thisid", this.id)
            window.location.replace(url);
        });
    </script>



{% endblock %}
