{% extends "basegreen.html.twig" %}



{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card">
                <form method="post" enctype="multipart/form-data" id="serf">
                    <div class="card-body">
                        <h4 class="card-title">Modifier un Service</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="nom" class="control-label col-form-label">Nom</label>
                                    <input value="{{ service.nom }}" type="text" class="form-control" name="nomser" id="nom" placeholder="Company Here">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="inputcom" class="control-label col-form-label">DDescription</label>
                                    <textarea  name="descser" class="form-control" type="text" id="desc" rows="5">{{ service.description }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-8">
                                {% set foo = service.type|split(';') %}

                                <div class="form-group">
                                    <label class="control-label col-form-label">Duree service </label>
                                    <div class="form-check form-check-inline">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="1" name="opt[]" id="customCheck1" {% if 1 in foo %} checked {% endif %}>
                                            <label class="custom-control-label" for="customCheck1">un Mois</label>
                                        </div>

                                    </div>
                                    <div class="form-check form-check-inline">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="2" name="opt[]" id="customCheck2" {% if 2 in foo %} checked {% endif %}>
                                            <label class="custom-control-label" for="customCheck2">3 Mois</label>
                                        </div>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="3" name="opt[]" id="customCheck3" {% if 3 in foo %} checked {% endif %}>
                                            <label class="custom-control-label" for="customCheck3">6 Mois</label>
                                        </div>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="4" name="opt[]" id="customCheck4" {% if 4 in foo %} checked {% endif %}>
                                            <label class="custom-control-label" for="customCheck4">Annee</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-7">
                                            <label class="control-label col-form-label">tarif par Mois</label>
                                        </div>
                                            <div class="col-sm-12 col-md-5">
                                            <input  type="number" value="{{ service.tarif }}" name="tarifser" class="form-control">
                                    </div>
                                        </div>

                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 offset-9">


                                <button type="button" class="btn btn-success" id="modifier">Modifier</button>
                                <button type="button" class="btn btn-danger" id="annuler">Annuler</button>



                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        var ch =
        $('#modifier').click(function () {
            $('#serf').submit();
        })
    </script>



{% endblock %}