    {% extends 'basegreen.html.twig' %}

    {% block content %}


        <br>  <br>  <br>  <br><br>  <br>





                <div class="col-lg-12 col-12">
                        <div class="checkbox-form">
                        <div class="checkbox-form">
                            <h3>la liste Des Evenements </h3>
                            <div class="row">



                                <table class="table">
                                    <tr>

                                        <td style=" color: green; font-weight: bold">nom d'evenement</td>
                                        <td style=" color: green; font-weight: bold">adresse</td>
                                        <td style=" color: green; font-weight: bold">date debut</td>
                                        <td style=" color: green; font-weight: bold">date fin</td>
                                        <td style=" color: green; font-weight: bold">Etat</td>
                                        <td style=" color: green; font-weight: bold">Nombre de place</td>
                                        <td style=" color: green; font-weight: bold">Nombre de stand</td>
                                        <td style=" color: green; font-weight: bold">Prix</td>
                                        <td style=" color: green; font-weight: bold">Modifier</td>
                                        <td style=" color: green; font-weight: bold">Supprimer</td>
                                        <td style=" color: green; font-weight: bold">Reservaion</td>




                                    </tr>
                                    {% for i in m %}
                                        <tr>
                                            <td>{{ i.nomevenement }} </td>
                                            <td>{{ i.adresse }} </td>
                                            <td>{{ i.datedebut|date("d/m/Y") }}</td>
                                            <td>{{ i.datefin|date("d/m/Y") }}</td>
                                            <td>{{ i.etat }} </td>
                                            <td>{{ i.nbplace }} </td>
                                            <td>{{ i.nbstand }} </td>
                                            <td>{{ i.prix }} </td>

                                            <td><a href="{{ path('SupprimerEvenemntBack',
                                                    {
                                                        'id':i.idevenement
                                                    }
                                                )
                                                }}"><button class="button btn-danger">Delete</button></a> </td>
                                            <td><a href="{{ path('ModifierEvenemntBack',
                                                    {
                                                        'id':i.idevenement
                                                    }
                                                )
                                                }}"><button class="button btn-warning">Mofifer</button></a> </td>


                                        <td><a href="{{ path('reservation',
                                                {
                                                    'id':i.idevenement
                                                }
                                            )
                                            }}"><button class="button btn-success">Reservation</button></a>
                                            <a href="{{ path('stand',
                                                {
                                                    'id':i.idevenement
                                                }
                                            )
                                            }}"><button class="button btn-primary   ">Stand</button></a> </td>







                                    {% endfor %}
                                </table>
                                <div  class="wishlist-compare-btn">
                                    <center>
                                    <a style=" color: green; font-weight: bold ;" href="{{ path('AjouterEvenemntBack') }}" >Ajouter un Evenement</a>
                                        <a style=" color: green; font-weight: bold ;" href="{{ path('Stat') }}" >stat</a>
                                    </center>
                                </div>
                            </div>

                        </div>
                </div>
            <br>  <br>  <br>  <br><br>  <br>






















    {% endblock %}