{% extends 'base.html.twig' %}

{% block content %}

<br>
<br>
<br>






<link href="{{ asset('packages/core/main.css')}}" rel='stylesheet' />
<link href="{{ asset('packages/daygrid/main.css')}}" rel='stylesheet' />
<script src="{{ asset('packages/core/main.js')}}"></script>
<script src="{{ asset('packages/interaction/main.js')}}"></script>
<script src="{{ asset('packages/daygrid/main.js')}}"></script>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'interaction', 'dayGrid' ],
            defaultDate: '2019-04-13',
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            events: [
                {% for i in evenements  %}
                {

                    title: '{{ i.nomEvenement }}',
                    start: '{{ i.datedebut|date("Y/m/d") }}',
                    end: '{{ i.datefin|date("Y/m/d") }}',
                    groupId: {{i.idevenement}}
                },
                {% endfor %}


            ]
        });



        calendar.render();
    });

</script>
<style>

    body {
        margin: 40px 10px;
        padding: 0;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
    }

    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }

</style>



<div id='calendar'></div>

{% endblock %}