{% extends "base.html.twig" %}

{% block content %}


    <div class="pricing-table-area pt-120 pb-85">
        <div class="container">
            <div class="row">
                <!--Single Pricing Table Start-->
                {% for ser in services %}
                <div class="col-md-6 col-lg-3">
                    <div class="single-pricing mb-35">
                        <div class="pricing-head">
                            <h4>{{ ser.nom }}</h4>
                        </div>
                        <div class="pricing-body">
                            <h5 class="table-price">{{ ser.tarif }} DT<span class="desc-price">/MOIS</span></h5>
                            <ul>
                                <li>{{ ser.description }}</li>

                            </ul>
                            <a class="pricing-button" href="{{ path('service_detail',{ 'id': ser.id }) }}">Voir plus </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!--Single Pricing Table End-->
            </div>
        </div>
    </div>


{% endblock %}
