{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <meta http-equiv="refresh" content="5; url=http://localhost/pepiniere/web/app_dev.php/">

    <center><h4>Bienvenue, vous allez être redirigé automatiquement vers l'accueil dans 5 secondes.</h4></center>

    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>




    {% endif %}

{% endblock fos_user_content %}
