{% extends 'basegreen.html.twig' %}



{% block content %}

            <div class="card">
                <div class="card-block">


                    <div class="card-title-block">
                        <h3 class="title"> list des produits </h3>
                    </div>
                    <section class="example">
                <table title="produits" class="table tab-pane">

                    <form  action="{{ path('recherche') }}" method="post">
                        <div align="center">
                        <input name="nom" type="text" class="form-control boxed" placeholder="Recherche">

                        <input type="submit"  value="chercher" class="btn btn-oval btn-primary-outline" name="keyword">
                        </div>



                    </form>

                <thead class="flip-header">
                    <tr>



                        <th>Nom</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Quantite</th>
                        <th>Dateajout</th>
                        <th>Image</th>
                        <th>Saison</th>
                        <th>Categorie</th>

                        <th>Actions</th>

                        <th>Social</th>
                        <th>Extraire PDF</th>
                    </tr>
                </thead>

                <tbody>
                {% for produit in produits %}
                    <tr>

                        <td>{{ produit.nom }}</td>
                        <td>{{ produit.description }}</td>
                        <td>{{ produit.prix }}</td>
                        <td>{{ produit.quantitestock }}</td>
                        <td>{% if produit.dateajout %}{{ produit.dateajout|date('Y-m-d H:i:s') }}{% endif %}</td>

                        {%  if produit.image=="" %}

                        <td>   <img src="http://localhost/pepiniere/web/img/produit/nondisponible.png" WIDTH=100 HEIGHT=100>   </td>

                        {% else %}

                        <td>    <img src="http://localhost/pepiniere/web/img/produit/{{ produit.image }}" WIDTH=100 HEIGHT=100>

                            {% endif %}


                        <td>{{ produit.saison}}</td>
                        <td>{{ produit.idcategorie.nomcategorie}}</td>


                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('produit_update', { 'idprod': produit.idproduit }) }}"> Modifier </a>
                                </li>
                                <li>

                                    <a class="" href="{{ path('delete', { 'idproduit': produit.idproduit }) }} "

                                       onclick="return confirm('' +
                                         'voulez vous vraiment supprimer ce produit ? ')"> Supprimer</a>


                                </li>
                            </ul>

                        </td>

                        <td>
                            <ul>
                                  {{  twitterButton() }}   {{  linkedinButton() }}   {{  pinterestButton() }}
                            </ul>
                        </td>
                        <td>   <a href="{{ path('commande_pdf',{ 'idprod': produit.idproduit }) }}"
                                  >PDF</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                    </section>


        <div align="center">

           <table>
               <thead class="flip-header">

               <tr>

            <th>   <a href="{{ path('produit_new') }} ">  + Ajouter un nouveau produit </a> </th>
             <th>  <a href="{{ path('message' ) |nl2br}}"> Message </a> </th>
               <th>  <a href="{{ path('_graphePie') }}"target="_blank">statistique </a> </th>
               </tr>
           </table>


        </div>



    <div class="navigation">
        {{ knp_pagination_render(produits) }}
    </div>


                </div>

        </div>

{% endblock %}
