<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My PDF</title>

</head>

<body>


<h1 style="color: #000000; font-size: 600%" align="center">Produit {{ produit.getIdproduit }}</h1>

</body>

<footer>

    <p align="center">&copy; Pepiniere {{ "now"|date("M-Y") }}</p>

    <h1 align="center" style="color: #f93e3e; font-size: 250%">{{ produit.getNom() }}</h1>
    <div style="margin-left: 80px; text-align: left;">

        <table>
            <tr>
                <td>
                    <h2 style="font-size: 150%">Date</h2>
                </td>
                <td>
                    <p >{{ produit.getDateajout() | date("d-m-y") }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 style="font-size: 150%">Quantite</h2>
                </td>
                <td>
                    <p >{{ produit.getQuantitestock() }}</p>
                </td>
            </tr>

            <tr>
                <td>
                    <h2 style="font-size: 150%">Prix_total</h2>
                </td>
                <td>
                    <p >{{ produit.getPrix() }}</p>
                </td>
            </tr>
        </table>


    </div>

</footer>
</html>