{% extends 'base.html.twig' %}
{% block content %}


    <div class="breadcrumb-tow mb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">


                </div>
            </div>
        </div>

    </div>
    <!--Header Area Start-->

    <!--Header Area End-->
    <!--Breadcrumb One Start-->
    <div class="breadcrumb-one mb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-img">
                        <img src="http://localhost/pepiniere/web/img/page-banner/product-banner.jpg" alt="">
                    </div>
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Single Product</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumb One End-->
    <!--Single Product Area Start-->
    <div class="single-product-area mb-115">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-5">
                    <div class="product-details-img-tab">
                        <!--Product Tab Content Start-->
                        <div class="tab-content single-product-img">
                            <div class="tab-pane fade show active" id="product1">
                                <div class="product-large-thumb img-full">
                                    <div class="easyzoom easyzoom--overlay">
                                        {%  if p.image=="" %}

                                        <a href="http://localhost/pepiniere/web/img/produit/nondisponible.png">
                                            <img src="http://localhost/pepiniere/web/img/produit/nondisponible.png" >
                                        </a>
                                        <a href="http://localhost/pepiniere/web/img/produit/nondisponible.png" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>


                                        {% else %}

                                        <a href="http://localhost/pepiniere/web/img/produit/{{ p.image }}">
                                            <img src="http://localhost/pepiniere/web/img/produit/{{ p.image }}">
                                        </a>
                                        <a href="http://localhost/pepiniere/web/img/produit/{{ p.image }}" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>

                                        {% endif %}

                                    </div>
                                </div>
                            </div>



                        </div>
                        <!--Product Tab Content End-->
                        <!--Product Tab Menu Start-->

                            <div class="nav product-tab-menu">

                                    <a class="active" data-toggle="tab" href="#product1">
                                    </a>


                            </div>

                        <!--Product Tab Menu End-->
                    </div>
                </div>
                <div class="col-md-12 col-lg-7">
                    <!--Product Details Content Start-->
                    <div class="product-details-content">
                        <!--Product Nav Start-->

                        <!--Product Nav End-->
                        <h2> Non du produit : {{ p.nom }}</h2>

                        <div class="single-product-price">

                            <span class="regular-price">Prix : {{ p.prix }} dt</span>
                        </div>
                        <div class="product-description">
                            <p> Description : {{ p.description }}</p>
                        </div>
                        <p class="stock in-stock">{{ p.quantitestock }} dans le stock</p>

                        <div class="product-meta">
                                <span class="posted-in">
                                        Categorie:

		                                <a href="{{ path('AfficherClient') }}">{{ p.idcategorie.nomcategorie }}</a>

		                            </span>
                        </div>
                        <div class="single-product-sharing">
                            <h3>Partager ce produit sur </h3>
                            <ul>
                             <li> {{  twitterButton() }}</li>
                              <li>   {{  linkedinButton() }}</li>
                              <li> {{  pinterestButton() }} </li>
                            </ul>
                        </div>
                    </div>
                    <!--Product Details Content End-->
                </div>
            </div>
        </div>
    </div>






    <div class="Related-product mt-105 mb-100">
        <div class="container">
            <div class="row">
                <!--Section Title Start-->
                <div class="col-12">
                    <div class="section-title text-center mb-35">
                        <h3> Autre produits</h3>
                    </div>
                </div>
                <!--Section Title End-->
            </div>
            <div class="row">

                <div class="product-slider-active">
                    {% for p in prod %}
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                        <!--Single Product Start-->

                        <div class="single-product mb-25">
                            <div class="product-img img-full">
                                <a href="{{ path('Afficherdetail',{'id':p.idproduit}) }}">

                                    {%  if p.image=="" %}

                                    <td>   <img src="http://localhost/pepiniere/web/img/produit/nondisponible.png" WIDTH=150 HEIGHT=150>  </td>

                                    {% else %}

                                    <td>    <img src="http://localhost/pepiniere/web/img/produit/{{ p.image }}" WIDTH=150 HEIGHT=150>

                                        {% endif %}

                                </a>
                            </div>
                            <div class="product-content">
                                <h2><a href="single-product.html"> Nom du produit : {{ p.nom }}</a></h2>
                                <div class="product-price">
                                    <div class="price-box">
                                        <span class="regular-price"> Prix du produit :  {{ p.prix }} dt</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Single Product End-->
                    </div>

                    {% endfor %}
                </div>

            </div>
        </div>
    </div>






















        </div>
    </div>

</div>

</div>
</body>
{% endblock %}
