{% extends "base.html.twig" %}

{% block content %}

    <div class="breadcrumb-tow mb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-title">
                        <h1>Mes Abonnement</h1>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="wishlist-area mb-110">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="plantmore-product-remove">Nom service</th>
                                    <th class="plantmore-product-thumbnail">Description</th>
                                    <th class="cart-product-name">Tarif</th>
                                    <th class="cart-product-name">Date debut</th>
                                    <th class="plantmore-product-price">date fin</th>
                                    <th class="plantmore-product-stock-status">nb jours restant</th>
                                    <th class="plantmore-product-add-cart">etat</th>
                                    <th class="plantmore-product-add-cart">Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for a in abons %}
                                <tr>
                                    <td class="">{{ a.services.nom }}</td>
                                    <td class="">{{ a.services.description }}</td>
                                    <td class=""><span class="amount">{{ a.services.tarif }}DT/mois</span></td>
                                    <td class="">{{ a.datedebut }}</td>
                                    <td class="">{{ a.datefin }}</td>
                                    {% set difference = date(a.datefin).diff(date("now")) %}
                                    {% set leftDays = difference.days %}
                                    <td class="">{{ leftDays }}</td>
                                    {% if leftDays<=0 %}
                                        <td class="plantmore-product-stock-status"><span class="out-stock">fini</span></td>
                                        <td class="plantmore-product-add-cart"><a href="">renouvler</a></td>
                                    {% elseif leftDays<5 %}
                                        <td class="plantmore-product-stock-status"><span class="out-stock">presques fini</span></td>
                                        <td class="plantmore-product-add-cart"><a href="#">renouvler</a></td>

                                    {% else %}
                                        <td class="plantmore-product-stock-status"><span class="in-stock">en cour</span></td>
                                        <td class="plantmore-product-add-cart"><a href="{{ path('service_deabonnee',{ids : a.id}) }}">deabonner</a></td>
                                    {% endif %}



                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}