{% trans_default_domain 'FOSUserBundle' %}
<br>
<div class="row">
    <div class="col-md-4" >
    </div>
    <div class="col-md-4" style="" >
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input   type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
    </div>
    <div class="col-md-4" >
    </div>
</div>
<br>