<div id="account-details" class="tab-pane fade">
    <h3>Profil General </h3>
    <div class="login">
        <div class="login-form-container">
            <div class="account-login-form">
                <form action="#" method="post" name="general">

                    <label>Prenom</label>
                    <input name="first-name" type="text" value="{{ user.prenom }}" >

                    <label>Nom</label>
                    <input name="last-name" type="text" value="{{ user.nom }}">
                    <!--
                    <input name="birthday" value="" placeholder="MM/DD/YYYY" type="text">
                    <span class="example">
                                                      (E.g.: 05/31/1970)
                                                    </span>
                    -->
                    <span class="custom-checkbox">
                                                        <input name="optin" value="1" type="checkbox">
                                                        <label>Receive offers from our partners</label>
                                                    </span>
                    <span class="custom-checkbox">
                                                        <input name="newsletter" value="1" type="checkbox">
                                                        <label>Sign up for our newsletter<br><em>You may unsubscribe at any moment. For that purpose, please find our contact info in the legal notice.</em></label>
                                                    </span>
                    <div class="button-box">
                        <button type="button" class="default-btn" id="profilbtn">Modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>