{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

    <div class="breadcrumb-tow mb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-title">
                        <h1>My Account</h1>
                    </div>
                    <div class="breadcrumb-content breadcrumb-content-tow">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="active">My Account</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumb Tow End-->
    <!--My Account Area Strat-->
    <div class="my-account white-bg mb-110">
        <div class="container">
            <div class="account-dashboard">
                <div class="dashboard-upper-info">
                    <div class="row align-items-center no-gutters">
                        <div class="col-lg-3 col-md-12">
                            <div class="d-single-info">
                                <p class="user-name">Hello <span>yourmail@info</span></p>
                                <p>(not yourmail@info? <a href="#">Log Out</a>)</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="d-single-info">
                                <p>Need Assistance? Customer service at.</p>
                                <p>admin@devitems.com.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="d-single-info">
                                <p>E-mail them at </p>
                                <p>support@yoursite.com</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12">
                            <div class="d-single-info text-lg-center">
                                <a class="view-cart" href="cart.html"><i class="fa fa-cart-plus"></i>view cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-2">
                        <!-- Nav tabs -->
                        <ul class="nav flex-column dashboard-list" role="tablist">
                            <li><a class="nav-link active" data-toggle="tab" href="#dashboard">Dashboard</a></li>
                            <li> <a class="nav-link" data-toggle="tab" href="#orders">Orders</a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#downloads">Downloads</a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#address">Addresses</a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#account-details">Account details</a></li>
                            <li><a class="nav-link" href="login-register.html">logout</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-lg-10">
                        <!-- Tab panes -->
                        <div class="tab-content dashboard-content">

                            {% include "@FOSUser/Profile/profil.html.twig" %}
                            {% include "@FOSUser/Profile/order.html.twig" %}

                            <div id="downloads" class="tab-pane fade">
                                <h3>Downloads</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Downloads</th>
                                            <th>Expires</th>
                                            <th>Download</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Haven - Free Real Estate PSD Template</td>
                                            <td>May 10, 2018</td>
                                            <td>never</td>
                                            <td><a class="view" href="#">Click Here To Download Your File</a></td>
                                        </tr>
                                        <tr>
                                            <td>Nevara - ecommerce html template</td>
                                            <td>Sep 11, 2018</td>
                                            <td>never</td>
                                            <td><a class="view" href="#">Click Here To Download Your File</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="address" class="tab-pane">
                                <p>The following addresses will be used on the checkout page by default.</p>
                                <h4 class="billing-address">Billing address</h4>
                                <a class="view" href="#">edit</a>
                                <p>Md Shohel</p>
                                <p>Bangladesh</p>
                            </div>

                            {% include "@FOSUser/Profile/show_content.html.twig" %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock fos_user_content %}

{% block scriptblock %}
    {{ parent() }}

    <script>
        $('#profilbtn').click( function(){
            var nom = $('.first-name').html()
            var prenom = $('.last-name').html()
            console.log(nom)
            $.ajax({
                url:'{{ path('profil') }}',
                type: "POST",
                dataType: "json",
                data: {
                    "nom": nom,
                    "prenom": prenom
                },
                async: true,
                success: function (data)
                {
                    console.log(data)
                    $( '.first-name' ).text(data.nom);
                    $( '.last-name' ).text(data.prenom);
                }
            })
        });
    </script>
{% endblock %}