{% extends "@Reclamation/Default/layout.html.twig" %}


  {% block mainContent %}

      <div class="breadcrumb-one mb-120">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="breadcrumb-img">
                          <img src="{{ asset('img/page-banner/product-banner.jpg')}}" alt="">
                      </div>
                      <div class="breadcrumb-content">
                          <ul>
                              <li><a href="index.html">Home</a></li>
                              <li class="active">Evaluer produit</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="single-product-area mb-115">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 col-lg-5">
                      <div class="product-details-img-tab">
                          <!--Product Tab Content Start-->
                          <div class="tab-content single-product-img">
                              <div class="tab-pane fade show active" id="product1">
                                  <div class="product-large-thumb img-full">
                                      <div class="easyzoom easyzoom--overlay">
                                          <a href="{{ asset('img/single-product/large/single-product1.jpg')}}">
                                              <img src="{{ asset('img/single-product/large/single-product1.jpg')}}" alt="">
                                          </a>
                                          <a href="{{ asset('img/single-product/large/single-product1.jpg')}}" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="product2">
                                  <div class="product-large-thumb img-full">
                                      <div class="easyzoom easyzoom--overlay">
                                          <a href="{{ asset('img/single-product/large/single-product2.jpg')}}">
                                              <img src="{{ asset('img/single-product/large/single-product2.jpg')}}" alt="">
                                          </a>
                                          <a href="{{ asset('img/single-product/large/single-product2.jpg')}}" class="popup-img venobox" data-gall="myGallery"><i class="fa fa-search"></i></a>
                                      </div>
                                  </div>
                              </div>




                          </div>
                          <!--Product Tab Content End-->
                          <!--Product Tab Menu Start-->
                          <div class="product-menu">
                              <div class="nav product-tab-menu">
                                  <div class="product-details-img">
                                      <a class="active" data-toggle="tab" href="#product1"><img src="img/single-product/small/single-product1.jpg" alt=""></a>
                                  </div>
                                  <div class="product-details-img">
                                      <a data-toggle="tab" href="#product2"><img src="img/single-product/small/single-product2.jpg" alt=""></a>
                                  </div>
                                  <div class="product-details-img">
                                      <a data-toggle="tab" href="#product3"><img src="img/single-product/small/single-product3.jpg" alt=""></a>
                                  </div>
                                  <div class="product-details-img">
                                      <a data-toggle="tab" href="#product4"><img src="img/single-product/small/single-product4.jpg" alt=""></a>
                                  </div>
                                  <div class="product-details-img">
                                      <a data-toggle="tab" href="#product5"><img src="img/single-product/small/single-product5.jpg" alt=""></a>
                                  </div>
                                  <div class="product-details-img">
                                      <a data-toggle="tab" href="#product6"><img src="img/single-product/small/single-product6.jpg" alt=""></a>
                                  </div>
                              </div>
                          </div>
                          <!--Product Tab Menu End-->
                      </div>
                  </div>
                  <div class="col-md-12 col-lg-7">
                      <!--Product Details Content Start-->
                      <div class="product-details-content">
                          <!--Product Nav Start-->
                          <div class="product-nav">
                              <a href="#"><i class="fa fa-angle-left"></i></a>
                              <a href="#"><i class="fa fa-angle-right"></i></a>
                          </div>
                          <!--Product Nav End-->
                          <h2>{{ produit.nom }}</h2>
                          <div class="single-product-reviews">
                              {{ produit.moyenne|rating()  }}
                              <a class="review-link" href="#">({{ countev  }}  Evaluations)</a>
                          </div>
                          <div class="single-product-price">
                              <span >{{ produit.prix }}</span>

                          </div>
                          <div class="product-description">
                              <p>{{ produit.description }}</p>
                          </div>
                          <p class="stock in-stock">150 in stock</p>
                          <div class="single-product-quantity">

                          </div>
                          <div class="wishlist-compare-btn">
                              {% if produit.dejaevalue == false %}
                                  <form action="" method="post">
                                      <!-- Change starability-basic to different class to see animations. -->
                                      <fieldset class="starability-basic">
                                          <legend>Basic star rating:</legend>
                                          <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />

                                          <input type="radio" id="rate1" name="rating" value="1" />
                                          <label for="rate1">1 star.</label>

                                          <input type="radio" id="rate2" name="rating" value="2" />
                                          <label for="rate2">2 stars.</label>

                                          <input type="radio" id="rate3" name="rating" value="3" />
                                          <label for="rate3">3 stars.</label>

                                          <input type="radio" id="rate4" name="rating" value="4" />
                                          <label for="rate4">4 stars.</label>

                                          <input type="radio" id="rate5" name="rating" value="5" />
                                          <label for="rate5">5 stars.</label>

                                          <span class="starability-focus-ring"></span>
                                      </fieldset>

                                      <div class="comment-submit">
                                          <button type="submit" class="form-button">Submit</button>
                                      </div>
                                  </form>
                              {% elseif produit.dejaevalue == true %}
                               <p style="color: red">Vous avez déja attribué une note </p>

                              {% endif %}


                          </div>
                          <div class="product-meta">
                                <span class="posted-in">
                                        Categories:
		                                <a href="#">Accessories</a>
		                                <a href="#">Electronics</a>
		                            </span>
                          </div>
                          <div class="single-product-sharing">
                              <h3>Share this product</h3>
                              <ul>
                                  <li> {{ socialButtons() }}</li>
                              </ul>
                          </div>
                      </div>
                      <!--Product Details Content End-->
                  </div>
              </div>
          </div>
      </div>
      <!--Single Product Area End-->
      <!--Product Description Review Area Start-->
      <div class="product-description-review-area mb-100">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="product-review-tab">
                          <!--Review And Description Tab Menu Start-->
                          <ul class="nav dec-and-review-menu">

                              <li>
                                  <a data-toggle="tab" href="#reviews">Afficher les commentaires</a>
                              </li>
                          </ul>
                          <!--Review And Description Tab Menu End-->
                          <!--Review And Description Tab Content Start-->
                          <div class="tab-content product-review-content-tab" id="myTabContent-4">


                              <div class="tab-pane fade" id="reviews">

                                  <div class="review-page-comment">
                                      <h2>{{ count }} commentaire pour le produit  {{ produit.nom }}</h2>
                                      <ul>
                                          <li>
                                              {% for c in comments %}
                                                  <div class="product-comment">
                                                      <img src="img/icon/author.png" alt="">
                                                      <div class="product-comment-content">
                                                          <div class="product-reviews">
                                                              <i class="fa fa-star"></i>
                                                              <i class="fa fa-star"></i>
                                                              <i class="fa fa-star"></i>
                                                              <i class="fa fa-star"></i>
                                                              <i class="fa fa-star-o"></i>
                                                          </div>
                                                          <p class="meta">
                                                              {{ c.user.id|number_format  }}
                                                              {% if c.user.id == user.id %}
                                                                  <span>Publié par :</span> - <strong>Moi</strong>
                                                              {% else %}
                                                                  <span>Publié :</span> - <strong>{{ c.user }}</strong>
                                                              {% endif %}
                                                              <div class="description">
                                                          <p>{{ c.description }}</p>
                                                      </div>
                                                      <center>
                                                          {% if c.user.id == user.id %}
                                                              <a href="{{ path('update_comment', {'id':c.id}) }}" class="btn-outline-success">Modifier</a>
                                                              <a href="{{ path('supprimer_rec', {'id':c.id}) }}" class="btn-outline-danger">Supprimer</a>
                                                          {% endif %}

                                                      </center>
                                                  </div>
                                              {% endfor %}

                                          </li>
                                      </ul>


                                  </div>
                              </div>
                          </div>
                          <!--Review And Description Tab Content End-->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--Product Description Review Area Start-->
      <!--Also Like Product Start-->

      <!--Also Like Product End-->
      <!--Related Product Start-->

      <!--Related Product End-->
      <!--Brand Area Start-->


  {% endblock  %}
