{% extends "basegreen.html.twig" %}



{% block content %}

    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <div class="card-title-block">
                    <h3 class="title"> Inverse table </h3>
                </div>
                <div class="header-block header-block-search">
                    <form role="search">
                        <div class="input-container">
                            <i class="fa fa-search"></i>
                            <input type="search" id="myInput" onkeyup="myFunction()" placeholder="Search">
                            <div class="underline"></div>
                        </div>
                    </form>
                </div>
                <section class="example">
                    <table id="myTable" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Titre de sujet </th>
                            <th>Image</th>
                            <th>Categorie </th>
                            <th>Nom user </th>
                            <th>Posté le </th>
                            <th>Actions </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sujet in sujets  %}
                        <tr>
                            <td>{{sujet.titresujet  }}</td>
                            <td>
                                <img style="width:55px;height:55px;" src="http:\\localhost\image\{{ sujet.image }}" alt="">
                            </td>
                            <td>{{ sujet.categorie }}</td>
                            <td>{{ sujet.user.username }}</td>
                            <td>{{ sujet.datesujet|date('y/m/d') }}</td>
                            <td>
                                <a href="{{ path('detailback',{id:sujet.idsujetrc}) }}"><button class="btn btn-primary">Detail</button></a>
                                <a href="{{ path('deleteback',{id:sujet.idsujetrc}) }}"><button class="btn btn-danger">Supprimer</button></a>
                            </td>
                        </tr>
{% endfor %}
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

    </script>
{% endblock %}
