{% extends "basegreen.html.twig" %}



{% block content %}

<div class="col-md-12">
    <div class="card">
        <div class="card-block">
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawChart);
                google.charts.load("current", {packages:['corechart']});
                google.charts.setOnLoadCallback(drawChart2);
                function drawChart2() {
                    var data = google.visualization.arrayToDataTable([
                        ["Date", "Sujet", { role: "style" } ],
                        {% for key,value in stat %}
                        ["{{ key }}", {{ value }}, "#b87333"],
                        {% endfor %}
                    ]);
                    var view = new google.visualization.DataView(data);
                    view.setColumns([0, 1,
                        { calc: "stringify",
                            sourceColumn: 1,
                            type: "string",
                            role: "annotation" },
                        2]);
                    var options = {
                        title: "Nombre de Sujet ajouté par jour ",
                        width: 600,
                        height: 400,
                        bar: {groupWidth: "95%"},
                        legend: { position: "none" },
                    };
                    var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
                    chart.draw(view, options);
                }

                function drawChart() {

                    var data = google.visualization.arrayToDataTable([
                        ['Categorie', 'Nombre sujet'],
                        ['Plante',     {{ a }}],
                        ['Animaux',     {{ b }}],
                        ['Arbuste',  {{ c }}],
                        ['Outil', {{ d }}],
                    ]);

                    var options = {
                        title: 'Sujet par Categorie',
                        is3D: true,

                    };

                    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                    chart.draw(data, options);
                }
            </script>
            <div style="display: flex">
            <div id="piechart" style="width: 900px; height: 500px;"></div>
            <div id="columnchart_values" style="width: 900px; height: 500px;"></div>
            </div>

        </div>
    </div>
</div>
{% endblock %}